APP_NAME=COVID_VACCINATE
APP_ENV=local
APP_KEY=base64:MP6vbX98alZYMezMUmpluxrJo7IbVI2cN1LEAhfd2XE=
APP_DEBUG=true
APP_URL=http://octane-starter.test
APP_TIMEZONE=Asia/Dhaka

LOG_CHANNEL=stderr
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=covid-vaccinate-mysql
DB_PORT=3306
DB_DATABASE=covid_vaccinate
DB_USERNAME=root
DB_PASSWORD=covid-vaccinate

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DRIVER=local
QUEUE_CONNECTION=rabbitmq
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_CLIENT='phpredis'
REDIS_HOST=host.docker.internal
REDIS_PASSWORD=covid-vaccinate-password
REDIS_PORT=9503
CACHE_PREFIX=covid-vaccinate:
REDIS_DB=0

# RabbitMQ
RABBITMQ_HOST=covid-vaccinate-rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=covid-vaccinate
RABBITMQ_PASSWORD=covid-vaccinate
RABBITMQ_VHOST='/'
RABBITMQ_EXCHANGE=covid_vaccinate_exchange
RABBITMQ_QUEUE=default
RABBITMQ_USER_REGISTER_QUEUE=covid_vaccinate_user_register
RABBITMQ_USER_EMAIL_NOTIFICATIOn_QUEUE=covid_vaccinate_user_email_notification

MAIL_MAILER=smtp
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME=COVID_VACCINATE_SERVICE

# Octane Config
OCTANE_SERVER=swoole
OCTANE_HTTPS=false
WORKER_COUNT=4
TASK_WORKER_COUNT=6